.lable {
  width: 150px;
  text-align: right;
  font-size: 1.5rem;
}

tr {
  height: 7rem;
}

.input {
  width: 480px;
}

.submit {
  display: flex;
  justify-content: center;
}

.submit input {
  border: 0;
  padding: 10px;
  background: coral;
}

.submit :hover {
  opacity: 0.6;
}
